/* || GLOBAL STYLES */

/* Typography */

body {
  font-family: Arial, sans-serif;
  font-size: 90%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Visual elements */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* || LAYOUT */

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container {
  justify-content: space-between;
}

/* || SECTION STYLES */

/* Header */

header {
  color: rgba(0, 0, 0, 80%);
  font-size: 0.85rem;
}

header nav {
  justify-content: flex-end;
  align-items: center;
  padding: 1em 2em;
  gap: 1.4em;
}

header a {
  color: inherit;
}

.avatar {
  width: 30px;
  border-radius: 50%;
}

/* Main */

main {
  align-items: center;
  justify-content: center;
  /* background: pink; */
  /* gap: 1.5em; */
}

#search-bar {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 10%);
  height: 3em;
  width: 550px;
  padding-left: 3em;
}

#search-bar:hover,
#search-bar:active {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 20%);
}

.search__bar {
  align-items: center;
}

.search__icon {
  position: absolute;
  opacity: 30%;
}

.search__buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

input[type="submit"] {
  background: #f8f9fa;
  color: #202124;
  padding: 0.5em 1.25em;
  border-radius: 5px;
  border: 1px solid #f8f9fa;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 1px solid rgba(0, 0, 0, 10%);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 10%);
}

.lang-options {
  font-size: 0.85rem;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  color: rgba(0,0,0,.54);
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav {
  justify-content: space-between;
}

footer a {
  color: inherit;
}

footer > * {
  border-top: 1px solid #dadce0;
  padding: 0.6em 2em;
}

footer .nav__list {
  gap: 1.6em;
}
