/* || GLOBAL STYLES */

/* Typography */

body {
  font-family: Arial, sans-serif;
  font-size: 90%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Visual elements */

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* || LAYOUT */

body > * {
  /* border: 2px solid red; */
}

.container {
  padding: 0.6em 2em;
}

.row {
  display: flex;
  gap: 0.5em;
}

.col {
  display: flex;
  flex-direction: column;
}

/* || SECTION STYLES */

/* Header */

header {
  color: rgba(0,0,0,.80);
  font-size: 0.85rem;
}

header nav {
  justify-content: flex-end;
  align-items: center;
}

header a {
  color: inherit;
}

.avatar {
  width: 30px;
}

/* Main */

main {
  align-items: center;
  justify-content: center;
}

.lang-options {
  font-size: 0.85rem;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  color: rgba(0,0,0,.54);
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav {
  justify-content: space-between;
}

footer a {
  color: inherit;
}

footer > * {
  border-top: 1px solid #dadce0;
}

footer .nav__list {
  gap: 1.6em;
}
